<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Sensor Management System</h1>
    <nav>
        <ul>
            <li><a href="/sensor-values/">Sensor Values</a></li>
            <li><a href="/devices/">Devices</a></li>
        </ul>
    </nav>
    <h2>Actions</h2>
    <nav>
        <ul>
            <li><a href="/sensor-values/create">Register Sensor Value</a></li>
            <li><a href="/devices/create">Register Device</a></li>
        </ul>
    </nav>
</body>
</html>
